.AutoDetail__page {
  height: 3544.1px;
  width: 900px;
  margin: 0px 10px 0px 0px;
  padding: 0pc 0px 2px 0px;
  margin: auto;
}

.AutoDetail__title {
  height: 40px;
  width: 900px;
  padding: 8px 0px 8px 0px;
  overflow: hidden;
  display: block;
}

/* .AutoDetail__ImageCards{
    background-color: red;
    height: 410px;
    width: 580px;
} */

.ProductDetail__Image {
  height: 410px;
  width: 500px;
  border-radius: 5px;
}

.AutoDetail__Info {
  height: 636.8px;
  width: 300px;
  margin-top: 20px;
  margin-left: 30px;
}
.AutoDetail__Info p {
  width: 150px;
}

.AutoDetail__Info div {
  height: 24px;
  width: 150px;
}

.AutoDetail__InfoAndImg {
  display: flex;
}

.AutoDetail__Description {
  width: 500px;
  height: 405px;
  margin-top: -280px;
}

.AutoDetail__userInfo {
  float: left;
  height: 85px;
  width: 830px;
  padding: 15px 10px 10px 10px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  border: 10px;
}

.AutoDetail__userPhoto {
  width: 100px;
  height: 83px;
  margin-top: -15px;
  padding-top: 20px;
}

.AutoDetail__userPhoto img {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  margin: auto;
  margin-left: 15px;
  margin-top: -13px;
  object-fit: cover;
  border: 1px solid;
  border-color: #95b395;
}

.AutoDetail__username-gmail {
  margin: auto;
  padding-top: 9px;
  margin-top: -14px;
  margin-left: 10px;
}

.AutoDetail__username-gmail p {
  font-size: medium;
}

.AutoDetail__chat-button {
  margin-top: 10px;
  margin-right: 20px;
}

.AutoDetail__user {
  height: 100px;
  width: 830px;
}

